/* #D19A66 */
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
}
hr {
  margin: 15px 0;
  border: 0;
  clear: both;
  display: block;
  width: 30%;
  background-color: #202124;
  height: 1px;
}
