/* #D19A66 */
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  padding: 0;
}
hr {
  margin: 15px 0;
  border: 0;
  clear: both;
  display: block;
  width: 30%;
  background-color: #202124;
  height: 1px;
}
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: #0C0D10;
}
::-webkit-scrollbar-thumb {
  background-color: #FFF5EB;
  border-radius: 30px;
  border: 2px solid #0C0D10;
}

body {
  background-color: #0C0D10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}
.main {
  height: 100vh;
  width: 80vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  color: #0C0D10;

  -webkit-box-shadow: 0px 0px 25px 20px #000;
  box-shadow: 0px 0px 25px 20px #000;
}
.box {
  background: #FFF5EB;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid #0C0D10;
  scroll-snap-align: center;
}
.box h3 {
  font-size: 5vh;
  margin: 0 20px;
}
.box h5 {
  font-size: 5vh;
  font-family: 'Waterfall', sans-serif;
}
